body, main, header, ul, nav, footer, section {
    margin: 0px;
    text-align: center;
    width: 100%;
}
header{
    background-color: #444444;
    color: #7d7d7d;
    font-size: 120%;
    margin-bottom: 1%;
}
nav{
    padding: 1%;
}
header li{
    display: inline;
    vertical-align: middle;
    margin: 3%;
}

header img{
    vertical-align: middle;
    margin-left: -10.2%;
    margin-right: -3%;
    
}
main img{
    margin: 1vw;
}
footer{
  background-color: #444444;
  margin-top: 40px;
  clear: both;
  position: relative;
  height: 90px;
  width: 100%;
}
button:hover {
    background-color: green;
    transition:  background-color 1s;
}

div div,div section {
    width: 100%;
}

div div img{
    width: 22%;
}

div section img{
    width: 71%;
}
div aside{
    width: 100%;
    height: 300px;
    float: left;
    margin-bottom: 3.5%;
}
div aside img, div aside div{
    width: 35%;
    overflow: hidden;
    height: 300px;
    display: inline-block;
}

div aside div div{
    height: 260px;
    text-align: left;
    margin: 0px;
    width: 95%;
}
button{
    background-color: black;
    color: white;
    float: left;
}