body, main, header, ul, nav, footer, section {
    margin: 0px;
    text-align: center;
    width: 100%;
}
header{
    background-color: #444444;
    color: #7d7d7d;
    padding: 1%;
    font-size: 120%;
    margin-bottom: 1vw;
}

header li{
    display: inline;
    vertical-align: middle;
    margin: 3vw;
}

header img{
    vertical-align: middle;
    margin-left: -10.2vw;
    margin-right: -3vw;
    
}
main img{
    margin: 1vw;
}
footer{
  background-color: #444444;
  height: 20vh;
}
aside{
    width: 480px;
    height: 400px;
}